<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-primary text-white">
                Novo Hóspede
            </div>
            <div class="card-body">
                <form [formGroup]="this.hs.form" (ngSubmit)="onSubmit()">
                    <!-- <input type="hidden" formControlName="$key"> -->
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" formControlName="nome"
                               [ngClass]="{'is-invalid':submitted && formControls.nome.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.nome.errors">
                            Campo obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="documento">Documento</label>
                        <input class="form-control" formControlName="documento"
                               [ngClass]="{'is-invalid':submitted && formControls.documento.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.documento.errors">
                            Campo obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefone">Telefone</label>
                        <input class="form-control" formControlName="telefone"
                               [ngClass]="{'is-invalid':submitted && formControls.telefone.errors}">
                        <div class="invalid-feedback" *ngIf="submitted && formControls.telefone.errors">
                            Campo obrigatório.
                        </div>
                    </div>
                    <div class="form-group">
                        <div routerLink="/index" class="btn btn-light">Voltar</div>
                        <input type="submit" class="btn btn-primary" value="Salvar">
                    </div>
                    <div class="alert alert-success" *ngIf="showSuccessMessage">
                        Hóspede criado com sucesso.
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top:15px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Hóspedes Cadastrados
                </div>
                <div class="card-body">
                    <table class="table table-sm table-hover">
                        <thead>
                        <th>Nome</th>
                        <th>Documento</th>
                        <th>Telefone</th>
                        </thead>
                        <ng-container *ngFor="let hospede of hospedes$ | ObjToArray ">
                            <tr>
                                <td>{{ hospede.nome }}</td>
                                <td>{{ hospede.documento }}</td>
                                <td>{{ hospede.telefone }}</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
        </div>
    </div>







